.DS_Store
.idea


# Elastic Beanstalk Files
.elasticbeanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

keys
*.suo
lambda/.vs/
lambda/NekoderuScrapingBatch/bin/
lambda/NekoderuScrapingBatch/obj/
