"/opt/elasticbeanstalk/hooks/appdeploy/enact/99-install-crontab.sh" :
        mode: "000777"
        owner: ec2-user
        group: ec2-user
        content: |
            #!/usr/bin/env bash

            cp -f /var/app/ondeck/crontab/ec2-user /etc/cron.d/ec2-user
            chmod 644 /etc/cron.d/ec2-user